<page-header></page-header>


<section>
    <table mat-table [dataSource]="categories">
 
     <ng-container matColumnDef="title">
       <th mat-header-cell *matHeaderCellDef> Title </th>
       <td mat-cell *matCellDef="let category"> {{ category.title }} </td>
     </ng-container>

     <ng-container matColumnDef="junior_factor">
       <th mat-header-cell *matHeaderCellDef> Junior Factor </th>
       <td mat-cell *matCellDef="let category">x {{ category.juniorFactor | number:'1.0-2' }} </td>
     </ng-container>
 
     <ng-container matColumnDef="senior_factor">
       <th mat-header-cell *matHeaderCellDef> Senior Factor </th>
       <td mat-cell *matCellDef="let category">x {{ category.seniorFactor | number:'1.0-2' }} </td>
     </ng-container>

     <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let category"  > <mat-icon (click)="editCategoryModal(category)">create</mat-icon> <mat-icon  (click)="deleteCategory(category)">delete_forever</mat-icon></td>
     </ng-container>
 
     <tr mat-header-row *matHeaderRowDef="['title', 'junior_factor', 'senior_factor', 'edit']"></tr>
     <tr mat-row *matRowDef="let row; columns: ['title', 'junior_factor', 'senior_factor', 'edit'];"></tr>
   </table>
 </section>
 
 <section>
     <a (click)="openCreateCategoryModal()" mat-raised-button><mat-icon>add</mat-icon>&nbsp;New category</a>
 </section>