<form [formGroup]="rolesForm">
    <mat-label>Roles:</mat-label>
    <mat-button-toggle-group 
      formControlName="roles" 
      (change)="onChange($event)"
      name="roles" 
      aria-label="User Roles" multiple>
      <mat-button-toggle value="MEMBER">Member</mat-button-toggle>
      <mat-button-toggle value="COORDINATOR">Coordinator</mat-button-toggle>
      <mat-button-toggle value="MANAGER">Manager</mat-button-toggle>
      <mat-button-toggle value="ADMIN">Admin</mat-button-toggle>
    </mat-button-toggle-group>
  </form>