<page-header></page-header>

@if (loading) {
    <app-loading></app-loading>
} @else {

    <mat-accordion class="example-headers-align">
        @for(member of members; track member.id) {        
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                {{member.name}}
                </mat-panel-title>
                <mat-panel-description>
                Type your name and age
                <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            @for (assignment of member.categories; track assignment) {
                <p>
                    <app-user-skill-toggle-button [assignment]="assignment"></app-user-skill-toggle-button>
                </p>
                  
            }
            
            <p><app-user-role-toggle-button [user]="member"/></p>
            
            </mat-expansion-panel>
        }
    </mat-accordion>

}
  