<page-header></page-header>

<section>
    @if (loading) {
        <app-loading></app-loading>
    } @else {
        @for(task of myTasks; track task) {
            <app-single-task-card [task]="task" (hold)="holdTask(task)" (close)="closeTask(task)"></app-single-task-card>
        } @empty {
            <error-code title="No pending task, well done !" redirect=''></error-code>
        }
    }
</section>

<section class="align-right">
    <a (click)="pickNextTask()" mat-raised-button [disabled]="hasActiveTasks()">Pick Next Task</a>
</section>